.App {
  text-align: center;
}


nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

nav h1 {
  grid-column: 1 / -1;
  justify-self: center;
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  grid-column: 2;
}

nav ul h2 {
  margin: 0;
}

nav ul h2 a {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul h2 a:hover {
  background-color: #000000;
  color: #ffffff;
}


